DB_NAME=loyaltix
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432
JWT_SECRET=long_password
JWT_EXPIRES_IN=2h
FRONTEND_URL=http://localhost:5173
EMAIL_USER=tuemail@gmail.com
EMAIL_PASS=xxxxxxxxxxxxxxxx